@use "sass:math";
@import "../../styles/base";
@import '../../styles/slider-mixins';

.media-reviews {
  @import '../../../node_modules/swiper/swiper';
  @mixin generate-slide-width() {
    @for $index from 1 through 5 {
      .swiper-slide-#{$index} {
        width: calc(#{percentage(math.div(1, $index))} - #{map-get($spacers, 6)});
      }
    }
  }
  // .py-section {
  //   @include media-breakpoint-down(md) {
  //     padding-top: map-get($spacers, 9)!important;
  //     padding-bottom: map-get($spacers, 9)!important;
  //   }
  // }
  // .my-section {
  //   @include media-breakpoint-down(md) {
  //     margin-top: map-get($spacers, 9)!important;
  //     margin-bottom: map-get($spacers, 9)!important;
  //   }
  // }
  .reviews-container {
    &.not-initialized {
      overflow: hidden;
      .swiper-wrapper {
        display: flex;
        align-items: center;
      }
    }
    &:not(.not-initialized) {
      .swiper-slide {
        transition: opacity .6s ease;
        opacity: 0;
        &.active {
          opacity: 1;
          z-index: 1;
        }
        &:not(.active) {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: -1;
        }
      }
    }
  }
  .logo-list-container {
    &.not-initialized {
      overflow: hidden;
      .swiper-wrapper {
        display: flex;
        align-items: center;
      }
      .swiper-slide {
        text-align: center;
      }
      @include media-breakpoint-down(md) {
        flex: 1 0 auto;
        width: auto;
      }
    }
  }

  .logo-list-container {
    // margin-top: map-get($spacers, 9);
    // @include media-breakpoint-down(md) {
    //   margin-top: map-get($spacers, 6);
    // }
    &.not-initialized {
      margin-right: map-get($spacers, 6) * -1;
      @include generate-slide-width();
      .swiper-slide {
        flex: 0 0 auto;
        margin-right: map-get($spacers, 6);
      }
    }
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      // height: px2rem(48px);
      max-height: px2rem(150px);
      text-align: center;
      cursor: pointer;
      overflow: hidden;
      opacity: 1;
      transition: opacity .3s ease-in-out;
      &:not(.swiper-slide-active) {
        opacity: .4;
      }
    }
    .logo {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}