@use "sass:math";

@import "../../styles/base";
@import "../../styles/slider-mixins";

.highlight-cards {
  .highlight-cards-container {
    @import "../../../node_modules/swiper/swiper";
    --indicator-position: 50%;
    $image-slide-desktop-gap: var(--#{$prefix}spacer-4);
    $image-slide-mob-gap: var(--#{$prefix}spacer-3);

    .swiper-control-container {
      .swiper-button-prev {
        left: 1.5rem;
      }

      .swiper-button-next {
        right: 1.5rem;
      }

      .swiper-button-prev,
      .swiper-button-next {
        @include render-indicator;

        position: absolute;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);
        color: rgba(0, 0, 0, .15);
        border: 1px solid rgba(255, 255, 255, .15);
        opacity: 0;
        transition: opacity .7s cubic-bezier(.15, 0, .2, 1) .1s;

        &:hover {
          opacity: 1 !important;
        }

        &.swiper-button-disabled {
          opacity: 0 !important;
          cursor: default;
        }
      }

      &:hover {
        .swiper-button-next,
        .swiper-button-prev {
          opacity: .8;
        }
      }

      .main-swiper {
        overflow: visible;

        @each $breakpoint, $container-max-width in $container-max-widths {
          @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
            $max-width: $container-max-width - rem2px(map-get($containers-padding-x, $breakpoint) * 2);
            --max-width: #{$max-width};
            --margin-left: calc((100% - var(--max-width)) / 2);

            margin-left: max(var(--margin-left), 0px);
          }
        }
      }

      @for $index from 2 through 4 {
        .swiper-slide-card-#{$index} {
          .swiper-slide {
            @include media-breakpoint-down(lg) {
              @if $index == 4 or $index == 3 {
                width: math.div(306px, 768px) * 100vw;
              }

              @else {
                width: math.div(522px, 768px) * 100vw;
              }
            }

            @include media-breakpoint-down(md) {
              width: math.div(306px, 375px) * 100vw;
            }
          }
        }
      }

      .swiper-slide {
        width: calc((var(--max-width) - var(--#{$prefix}spacer-4) * var(--gap-column-size)) / var(--image-per-row));
        margin-right: var(--#{$prefix}spacer-4);

        &:last-child {
          margin-right: 0;
        }

        strong {
          font-weight: $font-weight-semibold;
        }
      }
    }

    .highlight-cards-shadow {
      transition: all .3s cubic-bezier(0, 0, .5, 1);
      box-shadow: 2px 4px .75rem rgb(0 0 0 / .08);

      @include media-breakpoint-up(lg) {
        &:hover {
          transform: scale3d(1.01, 1.01, 1.01);
          box-shadow: 2px 4px 1rem rgb(0 0 0 / .16);
        }
      }
    }
  }
}
