@use "sass:math";

@import "../../styles/base";

.image-cards {
  @import "../../../node_modules/swiper/swiper";
  @import "../../../node_modules/swiper/modules/scrollbar/scrollbar.scss";
  $image-slider-tablet-width: var(--image-slider-tablet-width, #{px2rem(220px)});
  $image-slider-desktop-gap: var(--#{$prefix}spacer-4);
  $image-slider-mob-gap: var(--#{$prefix}spacer-3);
  $image-slider-mob-width: math.div(282px, 375px) * 100vw;

  .swiper-wrapper {
    transform: translateZ(0);
    backface-visibility: hidden;
  }

  .swiper {
    &.swiper-default {
      overflow: hidden;

      @include media-breakpoint-down(md) {
        overflow: visible;
      }

      @each $breakpoint, $container-max-width in $container-max-widths {
        @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
          @if $breakpoint == md {
            // 当屏宽>=768px，屏宽<=1151px时，每个卡片宽度为$image-slider-tablet-width
            max-width: calc($image-slider-tablet-width * 3 + $image-slider-desktop-gap * 2);
          }

          @else if $breakpoint == sm or $breakpoint == xs {
            // 容器全宽
          }

          @else {
            $max-width: $container-max-width - rem2px(map-get($containers-padding-x, $breakpoint) * 2);
            --max-width: #{$max-width};

            max-width: var(--max-width);
          }
        }
      }
    }

    &.swiper-rightwards {
      overflow: visible;

      @each $breakpoint, $container-max-width in $container-max-widths {
        @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
          @if $breakpoint == sm or $breakpoint == xs {
            // 容器全宽
          }

          @else {
            $max-width: $container-max-width - rem2px(map-get($containers-padding-x, $breakpoint) * 2);
            --max-width: #{$max-width};

            margin-left: calc((100% - var(--max-width)) / 2);
          }
        }
      }
    }

    &.swiper-fullpage {
      overflow: visible;

      @each $breakpoint, $container-max-width in $container-max-widths {
        @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
          $max-width: $container-max-width - rem2px(map-get($containers-padding-x, $breakpoint) * 2);
          --max-width: #{$max-width};
        }
      }
    }
  }

  .swiper-slide {
    width: calc((var(--max-width) - $image-slider-desktop-gap * var(--gap-column-size)) / var(--image-per-row));
    margin-right: $image-slider-desktop-gap;

    &:last-child {
      margin-right: 0;
    }

    @include media-breakpoint-down(lg) {
      width: $image-slider-tablet-width;
    }

    @include media-breakpoint-down(md) {
      margin-right: $image-slider-mob-gap;
      width: $image-slider-mob-width;
    }
  }

  $scrollbar-height: px2rem(6px);
  $scrollbar-radius: math.div($scrollbar-height, 2);
  //$scrollbar-radius-sm要小1px
  $scrollbar-radius-sm: math.div($scrollbar-height, 3);

  .swiper-scrollbar {
    bottom: 0 !important;
    left: 0 !important;
    width: px2rem(720px) !important;
    height: $scrollbar-height * 4 !important;
    border-radius: $scrollbar-radius;
    background-color: transparent;

    @include media-breakpoint-down(lg) {
      width: px2rem(536px) !important;
    }

    @include media-breakpoint-down(md) {
      max-width: px2rem(342px);
      width: calc(100% - #{map-get($containers-padding-x, "sm")}) !important;
    }

    @include media-breakpoint-down(sm) {
      max-width: none;
      width: 100% !important;
    }

    &::before {
      content: "";
      background-color: $gray-300;
      height: $scrollbar-height;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      border-radius: $scrollbar-radius;
    }
  }

  .swiper-scrollbar-drag {
    height: $scrollbar-height;
    top: $scrollbar-height * 1.5;
    background-color: $gray-700;
    border-radius: $scrollbar-radius-sm;
  }
}
