@import "../../../styles/base";

.main-article {
  .card {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .6);
      z-index: 1;
    }

    .article-hero {
      background-color: rgba($black, .6);
    }

    .card-img-overlay {
      z-index: 2;
    }
  }
}
