@use "sass:math";
@import "../../styles/base";
@import '../../styles/slider-mixins';
@import '../../styles/slider-functions';

.image-tab {
  @import '../../../node_modules/swiper/swiper';
  $image-slider-transition-duration: .3s;
  $image-slider-transition-timing-function: ease;
  .not-initialized {
    .main-swiper-wrapper {
      @include initial-swiper-wrapper;
    }
  }
  .swiper-initialized {
    @include media-breakpoint-down(sm) {
      padding: 0 #{get-value('xs', $containers-padding-x) - math.div(get-value('xs', $columns-gutter), 2)};
    }
  }
  .main-swiper-slide {
    transition: opacity $image-slider-transition-duration $image-slider-transition-timing-function;
    will-change: opacity;
    opacity: .4;
    @include render-siwper-slide-width;
  }
  .swiper-slide-active {
    opacity: 1;
  }

  // 指示器
  .swiper-indicators-container {
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-right: 0;
      .row {
        margin-left: 0;
        margin-right: 0;
        > * {
          padding-left: 0;
          padding-right: 0;
        }
      }
      .swiper-indicators {
        padding-left: map-get($containers-padding-x, 'xs');
        padding-right: map-get($containers-padding-x, 'xs');
      }
    }
  }
  .swiper-indicators {
    margin-top: map-get($negative-spacers, n2);
  }
  .swiper-indicator {
    position: relative;
    padding-bottom: map-get($spacers, 1);
    margin-right: map-get($spacers, 4);
    margin-top: map-get($spacers, 2);
    width: auto;
    white-space: nowrap;
    &:last-child {
      margin-right: 0;
    }
    cursor: pointer;
    .dark {
      color: $text-muted;
    }
    .light {
      color: $light;
    }
    &.swiper-indicator-active {
      .dark {
        color: $body-color;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: currentColor;
        border-radius: 50rem;
      }
    }
  }

  // 箭头
  .swiper-indicator-prev,
  .swiper-indicator-next {
    @include render-indicator;
  }

  // 文案
  .swiper-desc-container {
    &.not-initialized {
      display: flex;
      .swiper-desc-item {
        flex: 1 0 100%;
      }
    }
    &:not(.not-initialized) {
      .swiper-desc-item {
        transition: opacity $image-slider-transition-duration $image-slider-transition-timing-function;
        opacity: 0;
        &.active {
          position: relative;
          width: 100%;
          opacity: 1;
          z-index: 1;
        }
        &:not(.active) {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: -1;
        }
      }
    }
  }
}