@mixin render-indicator() {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: currentColor;
  transition: color .3s ease;
  will-change: color;
  cursor: pointer;
  --#{$variable-prefix}text-opacity: .6;

  @include not-touch-device {
    &:hover {
      --#{$variable-prefix}text-opacity: .8;
    }
  }

  &.swiper-button-disabled {
    cursor: not-allowed;
    --#{$variable-prefix}text-opacity: .2;
  }

  svg {
    display: block;
  }
}
