// 部分map-value类型变量缺少部分断点，按(xs sm md lg xl xxl)顺序匹配最接近的变量值
@function get-value($name, $map) {
  $breakpoint-names: (xs sm md lg xl xxl);
  $map-keys: map-keys($map);
  $n: index($map-keys, $name);

  @while not $n {
    $index: index($breakpoint-names, $name);
    $name: nth($breakpoint-names, $index - 1);
    $n: index($map-keys, $name);
  }

  @return map-get($map, $name);
}
