.rounded-md-start-3 {
  border-radius: $border-radius-lg 0 0 $border-radius-lg;

  @include media-breakpoint-down(md) {
    border-radius: $border-radius-lg $border-radius-lg 0 0;
  }
}

.rounded-md-end-3 {
  border-radius: 0 $border-radius-lg $border-radius-lg 0;

  @include media-breakpoint-down(md) {
    border-radius: $border-radius-lg $border-radius-lg 0 0;
  }
}
