.accordion-button {
  &:not(.collapsed) {
    color: $accordion-button-color;
    background-color: $accordion-bg;
    border-color: $accordion-button-focus-border-color;
    outline: 0;
    box-shadow: $accordion-button-focus-box-shadow;
  }
}