
@use "sass:math";

@function px2rem($px) {
  @return math.div($px, 16px) * 1rem;
}

@function rem2px($rem) {
  @return math.div($rem, 1rem) * 16px;
}

// 用于生成CSS自定义属性（变量）样式
@function custom-properties-css-var($key, $property, $default-value: null) {
  @if $default-value == null {
    @return var(--#{$prefix}#{$property}-#{$key});
  }
  @else {
    @return var(--#{$prefix}#{$property}-#{$key}, $default-value);
  }
}

@function generate-map-with-base-value($original-map, $base-value-map) {
  $new-map: ();
  @each $key, $value in $original-map {
    @if map-has-key($base-value-map, $key) {
      $new-map: map-merge((
        $key: (
          pc: $value,
          mob: map-get($base-value-map, $key),
        )
      ), $new-map);
    }
    @else {
      $new-map: map-merge((
        $key: $value
      ), $new-map);
    }
  }
  @return $new-map;
}