:root {
  --#{$prefix}body-inverse-rgb: #{map-get($utilities-text, 'body-inverse')};
  --carousel-indicator-active-bg: #fff;
  --carousel-indicator-active-bg-rgb: 255, 255, 255;
  --carousel-indicator-dark-active-bg: #000;
  --carousel-indicator-dark-active-bg-rgb: 0, 0, 0;
  --carousel-indicator-opacity: 0.2;
  --carousel-indicator-active-opacity: 1;

  --carousel-indicator-dot-hit-area-height: 16px;
  --carousel-indicator-dot-size: 8px;

  --carousel-indicator-line-hit-area-height: 18px;
  --carousel-indicator-line-horizontal-gap: 4px;
  --carousel-indicator-line-width: 40px;
  --carousel-indicator-line-height: 2px;

  --carousel-indicator-circle-horizontal-gap: 8px;
  --carousel-indicator-circle-size: 8px;
  --carousel-indicator-circle-ring-width: 2px;
  --carousel-indicator-circle-active-size: calc(var(--carousel-indicator-circle-size) + var(--carousel-indicator-circle-ring-width) * 2);
}